<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Importation donnees</h4>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" asp-action="ImportDonneesCSV">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <span class="input-group-text search_icon">Maison et Travaux</span>
                        <div class="form-file">
                            <input type="file" class="form-file-input form-control" name="maisonTravaux">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text search_icon">Devis</span>
                        <div class="form-file">
                            <input type="file" class="form-file-input form-control" name="devis">
                        </div>
                    </div>
                    <input type="submit" value="Importer" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>