@{
    string message = ViewBag.message;
}
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Importation paiement</h4>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" asp-action="ImportPaiementCSV">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <span class="input-group-text search_icon">Paiement</span>
                        <div class="form-file">
                            <input type="file" class="form-file-input form-control" name="paiement">
                        </div>
                    </div>
                    <input type="submit" value="Importer" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var message = '@message';
            message = message.replace(/\\n/g, '\n');
            if (message) {
                alert(message);
            }
        });
    </script>
}